{% extends "base.html" %}

{% block title %}Trekking History{% endblock %}

{% block content %}

<h1>My Trekking History</h1>

<table class="table table-bordered">

    <tr>
        <th>Trek</th>
        <th>Location</th>
        <th>Booking Date</th>
        <th>Status</th>
        <th>Trek Status</th>
    </tr>

    {% for booking in bookings %}

    <tr>

        <td>{{ booking.trek.name }}</td>

        <td>{{ booking.trek.location }}</td>

        <td>{{ booking.booking_date }}</td>

        <td>{{ booking.status.value }}</td>

        <td>{{ booking.trek.status.value }}</td>

    </tr>

    {% else %}

    <tr>
        <td colspan="5">
            You have no trekking history.
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}